body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 100;
  padding: 100;
  background-image: url(/image/Batman-fundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.retangulo {
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  background-color: rgb(255, 252, 252, 0.6);
  margin: 25%;
}

.retangulo p {
  text-align: justify;
  font-family: Arial;
  font-size: 11px;
}

h1,
a,
img {
  font-size: 20px;
  font-family: Arial;
}

a {
  text-decoration: solid;
  color: #050505;
}

a:hover {
  color: rgb(214, 220, 25);
}

audio {
  width: 150px;
  height: 30px;
}
