body {
  background-image: url(/assets/image/Batman-fundo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  padding: 100;
  margin: 100; 
}

.retangulo {
  background-color: rgb(255, 252, 252, 0.6);
  text-align: center;
  border-radius: 5px;
  padding: 5%;
  margin: 25%;
}

.retangulo p {  
  transition: 1000ms;
  text-align: justify;
  font-family: Arial;
  font-size: 11px;
}

h1,a{  
  transition-duration: 700ms;
  font-family: Arial;
  font-size: 20px;
}

a {  
  text-decoration: solid;
  color: #050505;
}

a:hover, h1:hover {
  transition-duration: 700ms;
  color: rgb(220, 191, 25);
}

.retangulo p:hover{
  color: rgb(220, 191, 25);
  transition: 1000ms;
}

.retangulo:hover{
  transition: 1000ms;
  background-color: rgba(56, 50, 50, 0.6);
  color: white;
}